<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h2>All Products</h2>

        📦 Total Products : {{ products|length }}
        <br><br>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                    <th>NAME</th>
                    <th>PRICE</th>
                    <th>DELETE</th>
                    <th>EDIT</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}

                        <tr>
                            <td class="name">{{product.name}}</td>
                            <td class="price">₹{{product.price}}</td>
                            <td class="action">
                                <form method="POST" action="/delete" style="display: inline;">
                                    <input type="hidden" name="name" value="{{product.name}}">
                                    <button class="delete-btn">Delete</button>
                                </form>
                            </td>
                            <td class="action">
                                <form method="get" action="/edit" style="display: inline;">
                                    <input type="hidden" name="name" value="{{product.name}}">
                                    <button class="edit-btn">Edit</button>
                                </form>
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>


        <br>
        <a href="/add"><button>Add More product</button></a>
        <a href="/"><button>Go To Home</button></a>
    </div>
</body>